/* Normalize */

body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-transform: uppercase;
}

h4 {
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 20px;
}

p {
    padding: 0 5px;
}

a {
    text-decoration: none;
}


/* layout */
.page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    height: 100%;
}

main {
    padding: 60px 0px 20px 0px;
}

/* .page-container>header,

body,
footer {
    padding: 30px;
} */

.aside-1 {
    height: 350px;
    width: 300px;
    background: #ff00ff;


}



/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    overflow: hidden;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    width: 220px;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
        /* render 6 columns in this container and make each equal in width */
    }
}

.header-container,
.nav-container,
.footer-container {
    grid-column: span 6;

    /* tell the header, nav, and footer elements to span all six columns */
}

.body-container {
    grid-column: span 4;

    /* tell the .container section to span only 4 of the 6 columns */
}

.aside-container {
    grid-column: span 2;

}


/* Headers */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff00ff;
    font-size: 3rem;
    /* padding: 0px 10px 0px 10px; */
    justify-content: left;
    margin: 0px;
    font-weight: normal;
}

h3 {
    font-size: 1rem;
    text-align: left;
    padding: 20px 20px 45px 0px;
    color: gray;
    font-weight: lighter;

}

h1 {
    font-size: 4rem;
    text-align: left;
    /* padding: 20px 20px 20px 0px; */
    color: #ff00ff;
    font-weight: lighter;
}



footer {
    height: auto;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    padding: 0px 0px 5px 20px;
    list-style-type: inline-block;
}

body {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main nav */

nav {
    height: auto;
}


li {
    text-align: left;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li a:hover {
    color: #ff00ff;
    text-decoration-line: underline;
}





/* Becky suggests looking up the syntax for media query on W3 schools etc. */
/* this declaration applies only when disply is 700px wide or larger */
@media only screen and (min-width: 700px) {
    body {
        background-color: white;
    }

    li {
        width: 20%;
        display: inline-block;
    }
}



.page-description {
    font-size: 2rem;
    text-align: justify;
}

.studio-cover {
    background-image: url(../images/studio-cover-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: none;
    height: 216px;
}

.studio-header {
    padding: 40px;
    font-size: 6rem;
    text-align: left;
}

/* Studio Items */



/* Studio Page Layout */

.container-2 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 600px;
    padding: 0px 150px;
}

@media only screen and (min-width: 600px) {
    .container-2 {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-2 {
        grid-column: span 3;
    }

    .my-card {
        grid-column: span 1;
    }
}

.container-2>* {
    background-color: #333333
}

/* Studio Cards */

.my-card {
    height: 300px;
    width: 300px;
    background-color: #333333;

    position: relative;

}

.my-card:hover {
    background-color: white;
    background-image: none;
}

.card-link {
    font-size: 45px;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    height: 300px;
    width: 300px;
}

.card-link:hover {

    color: #ff00ff;
    text-decoration-line: underline;
}

/* Individual card images  */
.studio-card-1 {
    position: relative;
    background-image: url(../images/studio-card-1-redo.jpg);
}

.studio-card-2 {
    background-image: url(../images/studio-card-2.jpg);
}

.studio-card-3 {
    background-image: url(../images/studio-card-3.jpg);
}

.studio-card-4 {
    background-image: url(../images/studio-card-4.jpg);
}

.studio-card-5 {
    background-image: url(../images/studio-card-5.jpg);
}





/* Individual Project Styling */
.card-poem {
    font-size: 45px;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    height: 300px;
    width: 300px;
}

.card-poem:hover {
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-title {
      padding: 40px 0;
  }