/* Normalize */

body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-transform: uppercase;
}

h4 {
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 20px;
}

p {
    padding: 0 5px;
}


/* Headers */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #ffb406;
    font-size: 6rem;
    letter-spacing: .4rem;
    padding: 0px 10px 0px 10px

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    padding: 0px 0px 5px 20px;
    list-style-type: inline-block;
}
/* Main nav */

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

ul {

    height: 2rem;
    margin: 1rem auto;
    padding: 10px 0px 200px 0px;
    list-style-type: inline-block;
}

li {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-style: bold;
    height: 5rem;
    line-height: 5rem;
    list-style-type: inline-block;
}

li a:hover {
    font-size: 35px;
    color: #ffb406;
}



/* Becky suggests looking up the syntax for media query on W3 schools etc. */
/* this declaration applies only when disply is 700px wide or larger */
@media only screen and (min-width: 700px) {
    body {
        background-color: white;
    }

    li {
        width: 12%;
        display: inline-block;
    }
}
