/* Normalize */

body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    text-transform: uppercase;
}

h4 {
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 20px;
}

p {
    padding: 0 5px;

}

/* Header */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffb406;
    font-size: 6rem;
    letter-spacing: .4rem;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #ffb406;
    font-size: 4rem;
    letter-spacing: .4rem;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: left;
}

/* nav */
/* nav {
    height: auto;
    width: auto
    } */


ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
}

.active {
    color: #ffb406;
    text-decoration-line: line-through;
}

li {
    float: left;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

li a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

li a:hover {

    color: #ffb406;
    text-decoration-line: line-through;
    background-color: rgba(139, 139, 139, 0.452);
}

  
  li a {
    color: #666;
  }


    /* body */

    p {
        width: 500px;
    }